In [3]:
import pandas as pd
from pathlib import Path
import sqlite3
from IPython.display import display, HTML

In [5]:
#Make sure it exists
dbPath = Path('data/sqlLiteCensusDb.db')
if (not Path.is_file(dbPath)):
    dbPath.touch()

conn = sqlite3.connect(dbPath)
c = conn.cursor()

censusDataDF = pd.read_csv('data/sub-est2019_all.csv')

print("Dataframe of loaded census data:")
display(censusDataDF)

censusMainTableName = "census"
# write the data to a sqlite table
censusDataDF.to_sql(censusMainTableName, conn, if_exists='replace', index = False)

print("Data loaded into sql")

Dataframe of loaded census data:

,sumlev,state,county,place,cousub,concit,primgeo_flag,funcstat,name,stname,...,popestimate2010,popestimate2011,popestimate2012,popestimate2013,popestimate2014,popestimate2015,popestimate2016,popestimate2017,popestimate2018,popestimate2019
0,40,1,0,0,0,0,0,A,Alabama,Alabama,...,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,...,2699,2694,2643,2628,2608,2600,2584,2575,2571,2560
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,...,4500,4493,4471,4449,4420,4390,4356,4327,4308,4281
3,162,1,0,484,0,0,0,A,Addison town,Alabama,...,751,750,743,742,739,734,731,726,723,718
4,162,1,0,676,0,0,0,A,Akron town,Alabama,...,355,347,347,343,338,339,333,332,331,328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81429,157,56,43,99990,0,0,1,F,Balance of Washakie County,Wyoming,...,2782,2755,2734,2737,2690,2690,2650,2599,2554,2531
81430,50,56,45,0,0,0,0,A,Weston County,Wyoming,...,7198,7142,7077,7136,7138,7208,7220,6968,6924,6927
81431,157,56,45,56215,0,0,1,A,Newcastle city,Wyoming,...,3530,3506,3476,3483,3484,3513,3530,3409,3394,3397
81432,157,56,45,79125,0,0,1,A,Upton town,Wyoming,...,1098,1089,1081,1088,1095,1104,1105,1062,1057,1056
81433,157,56,45,99990,0,0,1,F,Balance of Weston County,Wyoming,...,2570,2547,2520,2565,2559,2591,2585,2497,2473,2474

Data loaded into sql

In [7]:
print("How many rows are in the db:")
c.execute("SELECT count(*) FROM census").fetchall()

How many rows are in the db:

[(81434,)]

In [ ]:

# c.execute('''SELECT * FROM census''').fetchall()